:root {
    --font_pt_sans: 'PT Sans', sans-serif;
    
    --toDo_color: #98ffa4;
    --inProgress_color: #F3B381;
    --testing_color: #81e8f3;
    --done_color: #fc9191;

    --urgency_high_color: rgb(255, 41, 41);
    --urgency_medium_color: rgb(255, 128, 78);
    --urgency_low_color: rgb(144, 255, 253);

    --time_1_day_color: red;
    --time_2_day_color: rgb(255, 72, 72);
    --time_3_4_5_day_color: rgb(255, 157, 29);
    --time_6plus_day_color: rgb(255, 225, 0);

    --time_1_day_color_opacity20: rgba(255, 0, 0, 20%);
    --time_2_day_color_opacity20: rgba(255, 72, 72, 20%);
    --time_3_4_5_day_color_opacity20: rgba(255, 157, 29, 20%);
    --time_6plus_day_color_opacity20: rgba(255, 225, 0, 20%);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    background-image: url('../img/tree_frozen.jpg');
    object-fit: cover;
}

.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* ---------------------------------
    | | |  STYLES FOR NAVBAR  | | |
    V V V                     V V V
*/

.navBar-container {
    min-height: 100vh;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 40%);
}

.navBar-logo {
    margin-top: 20px;
}

.navBar-items {
    /* background-color: #98ffa4; */
    list-style-type: none;
    width: 100%;
    padding-inline-start: 0px;
    color: white;
    font-size: 30px;
    font-family: var(--font_pt_sans);
    transition: color 225ms ease-in-out;
}

.navBar-items li {
    /* background-color: #98ffa4; */
    list-style-type: none;
    position: relative;
    padding-inline-start: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.navBar-items a {
    color: unset;
    text-decoration: none;
}

.navBar-items li:hover {
    transition: color 225ms ease-in-out;
    color: rgb(191, 191, 191);
}

.bar-left {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: white;
    left: 0px;
    border-radius: 5px;
    transition: opacity 225ms ease-in-out;
    opacity: 1;
}

.opacity-0 {
    transition: opacity 225ms ease-in-out;
    opacity: 0;
}

.user-picture {
    border-radius: 100%;
    height: 80px;
    border: 2px solid white;
    margin-bottom: 20px;
}