.task-container {
    display: flex;
 
}
.complete-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    
}
.d-none {
    display: none;
}
.task-container-left {
    margin: 20px;
    width: 50%;
    border: solid white 3px;
}
.task-container {
    display: flex;
}
.task-container-right {
    width: 50%;
    border: solid white 3px;
    margin: 20px;
}
.task-container-wrap {
    width: 50vw;
    border: solid 2px lightgray;
    border-radius: 5px;
    background-color: white;
 
}
h1 {
    margin: 20px;
}
.link {
    text-decoration: none;
}
.card-style {
    height: 390px !important;
    padding: 30px;
}
.close-button {
    display: flex;
    justify-content: end;
}