body {
    font-family: var(--font_pt_sans);
}

.hide {
    display: none;
}

.content-container {
    display: initial;
}

h1 {
    text-align: center;
}

.task-container {
    padding-bottom: 20px;
}

.bl-headlines {
    display: flex;
    flex-direction: row;
    width: 900px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
    font-size: 1em;
}

.bl-headline-name {
    width: 210px;
    padding: 10px;
    padding-left: 20px;
}

.bl-headline-category {
    width: 150px;
    padding: 10px;
}

.bl-headline-description {
    width: 540px;
    padding: 10px;
}

.bl-task {
    /* border: 1px solid black; */
    border-radius: 0 5px 5px 0;
    width: 900px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 5px;
    box-shadow: white 0px 0px 1px 0px;
    cursor: pointer;
}

.bl-task:hover {
    opacity: 0.8;
}

.bl-inner-task {
    display: flex;
}

.color-category {
    width: 20px;
    height: auto;
}

.color-1 {
    background-color: var(--marketing_color);
}

.color-2 {
    background-color: var(--organisation_color);
}

.color-3 {
    background-color: var(--it_color);
}

.color-4 {
    background-color: var(--accounting_color);
}

.bl-name {
    width: 200px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bl-category {
    width: 150px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bl-description {
    width: 560px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.details-layer-background {
    background-color: #808080d6;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-layer {
    background-color: white;
    width: 500px;
    height: 550px;
    padding: 20px;
    box-shadow: white 0px 0px 1px 0px;
    z-index: 2;
}

.close-detail-layer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    cursor: pointer;
}

.close-detail-layer:hover {
    opacity: 0.6;
}

.no-tasks {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    padding: 20px;
}

.details {
    padding-bottom: 5px;
    padding-top: 5px;
}

.description-container {
    height: 140px;
    overflow: auto;
}

.horizontal-line {
    width: 460px;
    padding-left: 20px;
    border-top: 1px solid #cecbcb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-move {
    margin-right: 10px;
}

.btn-move:hover {
    background-color: thistle;
}

.btn-move:focus {
    outline: none;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.delete-notification {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-note {
    border-radius: 5px;
    background-color: white;
    width: 500px;
    height: 50px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-note-confirm{
    border-radius: 5px;
    background-color: white;
    width: 500px;
    height: 200px;
    z-index: 2;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
    text-align: center;
}

.btn-container-confirm{
    padding: 20px;
}

.text-highlight {
    color: rgb(42, 42, 187);
}

/* CSS for datepicker */

label {
    display: block;
}

input, label {
    margin: .4rem 0;
}