.test-font{
    font-family: var(--font_pt_sans);
}

.grid-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;  
}

.four-grids{
    width: 25%;
    height: 98%;
    margin: 2px;
    border: 2px solid wheat;
}

.toDo-grid{
    background-color: var(--toDo_color);
    opacity: 10%;
}

.inProgress-grid{
    background-color: var(--inProgress_color);
    opacity: 15%;
}

.testing-grid{
    background-color: var(--testing_color);
    opacity: 10%;
}

.done-grid{
    background-color: var(--done_color);
    opacity: 20%;
}